<!--show on mobile-->
<nav>
  <ul class="list-unstyled main-menu">    
    <li class="text-right"><a href="#" id="nav-close" slide-menu>X</a></li>
    <li><a href="#">Blog <span class="icon"></span></a></li>
    <li><a href="#">Sobre <span class="icon"></span></a></li>    
    <li><a href="#">Descrição <span class="icon"></span></a></li>     
  </ul>
</nav>
<!--show on mobile-->

<div class="navbar navbar-inverse navbar-fixed-top">  
  
  <a class="navbar-brand visible-xs" href="#">{{blogName}}</a>

  <div class="hidden-xs">
    <a class="navbar-brand active" href="#">Blog</a>
    <a class="navbar-brand" href="#">Sobre</a>          
    <a class="navbar-brand" href="#">Descrição</a>          
    <div class="clearfix"></div>
  </div>

  <!--show on mobile-->
  <div class="navbar-header pull-right visible-xs">
    <a id="nav-expander" class="nav-expander fixed" slide-menu>
            MENU &nbsp;<i class="fa fa-bars fa-lg white"></i>
          </a>
  </div>
  <!--show on mobile-->

</div>